/** Darkegn **/
body {
  background-color: #0c0c0c;
  font-family: "Lato", sans-serif;
}

.bg-dark {
  background-color: #0c0c0c !important;
}

nav #navTabMobile {
  WIDTH: 100vw;
  height: 100vh;
  padding-top: 20vh;
}
nav #navTabMobile a {
  color: white;
  text-align: center;
}
nav #navTabMobile a.active {
  font-size: 20px;
  background-color: transparent;
}
nav .navbar-collapse {
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  z-index: 1;
  height: 100%;
}
nav button:focus {
  outline: none;
}
nav .navbar-toggler-icon {
  background-image: url("img/menu.png") !important;
  background-size: auto;
}

.sliderTabs {
  margin-top: 8vh;
}
.sliderTabs .sliderTabMenu {
  display: block;
}
@media (max-width: 600px) {
  .sliderTabs .sliderTabMenu {
    display: none;
  }
}
.sliderTabs .nav-pills a.nav-link {
  color: #555555;
  margin-bottom: 3.2rem;
}
.sliderTabs .nav-pills a.nav-link.active {
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
}
.sliderTabs .sliderTitle {
  color: white;
  font-size: 80px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .sliderTabs .sliderTitle {
    font-size: 68px;
  }
}
@media (max-width: 600px) {
  .sliderTabs .sliderImg img {
    width: 100%;
  }
}
.sliderTabs .btn-SliderButton {
  background-color: #0f33ff;
  width: 40%;
  border-radius: 0;
  color: white;
  margin-top: 12vh;
}
@media (max-width: 600px) {
  .sliderTabs .btn-SliderButton {
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 100%;
  }
}
.sliderTabs .btn-SliderButton:hover {
  background-color: white;
  color: black;
}
.sliderTabs .btn-Career {
  color: white;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
.sliderTabs .aboutCardRow {
  margin-top: -12rem;
}
@media (max-width: 600px) {
  .sliderTabs .aboutCardRow {
    margin: 0 auto;
  }
}
.sliderTabs .sliderCard {
  padding: 10px;
  margin-top: 1.5rem;
  opacity: 0.2;
}
.sliderTabs .sliderCard img {
  border: 15px solid #0f33ff;
}
.sliderTabs .sliderCard.active {
  opacity: 1;
  filter: none;
}
.sliderTabs .sliderCard.active .activeBar {
  background-color: #0f33ff;
}
.sliderTabs .sliderCard .activeBar {
  background-color: #5f5f63;
  width: 50px;
  display: block;
  height: 5px;
  margin-bottom: 1rem;
}
.sliderTabs .sliderCard .sliderCardTitle {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.sliderTabs .sliderCard .sliderAboutCardTitle {
  margin-top: -10px;
  margin-left: 14px;
  font-weight: bold;
  color: white;
}
.sliderTabs .sliderCard .sliderCardContent p {
  color: white;
  margin-top: 1.1rem;
  font-size: 14px;
}
.sliderTabs .carousel .carousel-item {
  text-align: center;
  padding-top: 2.5rem;
}
.sliderTabs .carousel .carousel-item img {
  filter: grayscale(1);
}
.sliderTabs .carousel .carousel-item input[type=radio] {
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.sliderTabs .carousel .carousel-item input[type=radio]:checked + img {
  filter: grayscale(0);
}
.sliderTabs .carousel .carousel-item .workTitle {
  padding-top: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.sliderTabs .carousel .carousel-item .workDescription {
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin-top: 1.5rem;
}
.sliderTabs .btn-todo {
  border: 1px solid white;
  color: white;
  width: 200px;
  margin: 10px;
}
.sliderTabs .btn-todo.active {
  border: none;
  background-color: #0f33ff;
}
.sliderTabs .hire-input {
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  border-right: 0;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
  height: 78px;
}
.sliderTabs .hire-input::placeholder {
  font-size: 20px;
  color: white;
}
.sliderTabs .hire-input:focus {
  outline: none;
}
.sliderTabs .btn-send {
  background-color: #0f33ff;
  font-weight: bold;
  color: white;
  margin-top: 3rem;
}
.sliderTabs .btn-send:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=style.css.map */
